// Fonts / Шрифти
$fontFamily: 'name_font', sans-serif;

// Font-size
$fontSize: 1rem;

// Colors / Кольори
$mainColor: #000000;

// Setting up an adaptive grid / Налаштування адаптивної сітки

$maxWidthContainer: 1600px;
$containerPadding: 0 15px;